
.contact {
    height: 100vh;
    padding: 50px 0;
    background: url(../../public/images/map.png);
    background-size: cover;
    form {
        height: 350px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 60%;
        align-content: space-between;
        padding: 20px;
      
        input, textarea {
            @extend p;
            text-align: left;
            padding: 10px;
            border:1px solid $sixthColour;
            width: 100%;
            margin-bottom: 10px;
            border-radius:5px;
        }
        
        label {
            display: none;
        }
    }
        input.submit {
        margin: 0 auto;
        width: 150px;
        height:100px;
        text-align: center;
        color:#FFF;
        &:hover {
            color:$sixthColour;
        }
        
    }
    h2 {
        margin: 0;
    }
    .socialIcons {
        width: 20%;
        margin:0 auto;
        text-align: center;
    }
    i {
        font-size: 2.2rem;
        color: $thirdColour;
        margin: 0 5px;
        &:hover {
            color: $sixthColour;
        }
    }

    // media queries:
    @media (max-width:940px) {
        height: 110vh;
        padding:55px 0;
        .submit {
            padding:10px;
            margin: 15px auto;
        }
    }
    @media (max-width:768px) {
        height: 70vh;
        form {
            width: 70%;
        }
    }

    @media (max-width:480px) {
        height: 120vh;
       h3 {
           font-size:1.6rem;
       }
       form {
           flex-direction: column;
           height: 80vh;
           width: 80%;
           padding: 0;
       }
       .socialIcons {
           width: 50%;
       }
       div.contactInfoInputs, textarea.message {
           flex-direction: column;
           width: 100%;
           margin:10px;
       }
       input.submit {
           height: 60px;
       }
    }

    @media (max-width:375px) {
        height: 115vh;
        form {
            height: 70vh;
        }
    }
}