// CONTACT STYLES

.contact {
    height: 90vh;
    padding: 50px 0;
    background: url(../../public/images/map.png);
    background-size: cover;
    form {
        
        .inputs {
        height: 200px;
        display: flex;
        flex-direction: row;
        align-content: space-between;
        padding: 20px;
        }
        .contactInfoInputs {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: calc(50% - 20px);
            margin-right: 20px;
            
            
        }
        input, textarea {
            @extend p;
            text-align: left;
            padding: 10px;
            border:1px solid $sixthColour;
            border-radius:5px;
        }
        textarea {
            width: 50%;
        }
        
        label {
            display: none;
        }
    }
    .submitButton {
        display: flex;
        border:none;
        margin: 20px auto;
        width: 100px;
        padding-left:30px;
    }
    
    .socialIcons {
        width: 20%;
        margin:0 auto;
        text-align: center;
    }
    i {
        font-size: 2.2rem;
        color: $thirdColour;
        margin: 0 5px;
        &:hover {
            color: $sixthColour;
        }
    }

    // media queries:
    @media (max-width:940px) {
        height: 100vh;
        padding:25px 0;
        .submit {
            padding:10px;
            margin: 15px auto;
        }
    }

    @media (max-width:480px) {
        height: 150vh;
       h3 {
           font-size:1.6rem;
       }
       form {
           flex-direction: column;
           height: 80vh;
       }
       .socialIcons {
           width: 50%;
       }
       div.contactInfoInputs, textarea.message {
           flex-direction: column;
           width: 100%;
           margin:10px;
       }
    }
    @media (max-width:375px) {
        height: 130vh;
        form {
            height: 70vh;
        }
    }
}