// GLOBAL STYLES:

// variables:

// colours:
$firstColour: #6bfaee;
$secondColour: #a3a7fc;
$thirdColour: #2e2e7f;
$fourthColour: #b77ef0;
$fifthColour: #f3f9ff;
$sixthColour: #8991f7;
$seventhColour: #8283a4;

// fonts:
$primaryFont: 'Poiret One', cursive;
$secondaryFont: 'Poppins', sans-serif;

* {
    // border: 1px solid red;
}

html {
    font-size: 62.5%;
}

body {
    margin: -1px;
}

.wrapper {
    width: 75%;
    margin: 0 auto;
    // border: 1px solid blueviolet;
}

img {
    width: 100%;
    }

h1 {
    // font-family: 'Cinzel Decorative', cursive;
    
    font-family: $secondaryFont;
    font-weight:400;
    font-size: 5.4rem;
    color:#FFF;
    // text-shadow:1px 1px 1px black;
    margin:10px;
    text-align: center;
}

h2 {
    font-family: $secondaryFont;
    font-size: 3.2rem;
    text-align: center;
    font-weight: 400;
    color: $thirdColour;
}

// .sectionTitle {
//   padding-top:60px;
// }
h2::after {
    content:'';
    height: 15px;
    width:40px;
    display:block;
    border-bottom: 2px solid $sixthColour;
    margin: 0 auto;
    }


h3 {
    font-family: $secondaryFont;
    text-align: center;
    color: $sixthColour;
    font-size: 1.8rem;
    font-weight: 400;
}
 p{
    font-family: $secondaryFont;
    font-weight: lighter;
    font-size: 1.5rem;
    line-height: 1.8;
    text-align: center;
    color:$thirdColour;
 }
 .myEmail {
        text-transform: lowercase;
        font-weight: 400;
    }
 a {
     @extend p;
    font-size: 1.6rem;
    text-decoration: none;
    text-align: center;
    color:#FFF;
    outline: none;
    &:hover {
            color: $thirdColour;
        }
 }

 a:active, a:focus {
  outline: none;
}

svg {
    transform: rotate(180deg);
    height: 50vh;
    margin-left: 30%;
    position: relative;
    bottom:180px;
}

.right {
    transform: rotate(180deg);
}
.left {
    transform: rotate(180deg) scaleX(-1);
}
.dashed{
  stroke-dasharray: 30;


}

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 2s linear forwards;
 
}


@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}


.link, .submit {
  @extend p;
  background: linear-gradient(-90deg, #6bb4fa 0%, #a3a7fc 100%);
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 1em 2em;
  text-transform: uppercase;
  border-radius:5px;
  // Using inset box-shadow instead of border for sizing simplicity
  box-shadow: 0px 5px 20px 0px rgba(68, 84, 255, 0.3);
  color: white;
  font-size: 1.3rem;
  font-weight: 400;
  z-index:60;
  // Required, since we're setting absolute on pseudo-elements
  position: relative;
  vertical-align: middle;

  &::before,
  &::after {
    box-sizing: inherit;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
.aboutIcons {
  @extend .submit;
  // box-shadow: none;
  background: #FFF;
  text-transform: none;
}
.buttonLive {
  margin-right: 10px;
}

.draw, .aboutIcons, .submit {
    transition: color 0.3s;

  &::before,
  &::after {
    // Set border to invisible, so we don't see a 4px border on a 0x0 element before the transition starts
    border: 2px solid transparent;
    width: 0;
    height: 0;
  }

  // This covers the top & right borders (expands right, then down)
  &::before {
    top: 0;
    left: 0;
  }

  // And this the bottom & left borders (expands left, then up)
  &::after {
    bottom: 0;
    right: 0;
  }
  
  &:hover {
    color: $secondColour;
  }

  // Hover styles
  &:hover::before,
  &:hover::after {
    width: 100%;
    height: 100%;
  }

  &:hover::before {
    border-top-color: $secondColour; // Make borders visible
    border-right-color: $secondColour;
    transition:
      width 0.2s ease, // Width expands first
      height 0.2s ease 0.2s; // And then height
  }

  &:hover::after {
    border-bottom-color: $secondColour; // Make borders visible
    border-left-color: $secondColour;
    transition:
      border-color 0s ease 0.4s, // Wait for ::before to finish before showing border
      width 0.2s ease 0.4s, // And then exanding width
      height 0.2s ease 0.7s; // And finally height
  }
}
.meet, .aboutIcons, .submit {
  
  &:hover {
    color: $secondColour;
    background: $fifthColour;
  }

  // Start ::after in same position as ::before
  &::after {
    top: 0;
    left: 0;
  }

  // Change colors
  &:hover::before {
    border-top-color: $secondColour;
    border-right-color: $secondColour;
  }

  &:hover::after {
    border-bottom-color: $secondColour;
    border-left-color: $secondColour;
    transition: // Animate height first, then width
      height 0.2s ease,
      width 0.2s ease 0.2s;
  }

}

@media (max-width:940px) {
    .wrapper {
      width: 85%;
    }
    h1 {
      font-size:2.6rem
    }
    h2 {
      font-size: 2rem;
    }
    .link {
      padding:10px;
    }
    // h3 {
    //   font-size: 1.4rem;
    //   margin:5px;
    // }
    p {
      font-size:1.2rem;
      line-height:1.7;
    }
}

@media (max-width:768px) {
    .wrapper {
      width: 90%;
    }
}

@media (max-width:480px) {
    .wrapper {
      width: 95%;
    }
}
