.mySkills {
    height: 50vh;
    background: linear-gradient(90deg, rgba(darken(#6bb4fa, 30%), 0.7), rgba(#a3a7fc, 0.8))/*, url(../../public/images/hero4.jpg)*/;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position-y: 5%;
    h2 {
        color: white;
        padding-top: 50px;
    }

    .skills {
 
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: center;
    }
     .devicon {
            font-size:6rem;
            margin: 0 5px;
            padding: 10px;
            color: white;
            text-shadow: 1px 1px 2px black;
        }
        p {
            color: #FFF;
            font-weight: 400;
            text-shadow: 1px 1px 2px black;
            margin: 5px;
        }
        // media queries:
    @media (max-width:940px) {
        .devicon {
            font-size:4rem
        }
    }

    @media (max-width:768px) {
         .devicon {
            font-size:3.6rem
        }
    }

    @media (max-width:480px) {
        height: 65vh;
        padding: 0 10px;
        .devicon {
            font-size:4rem;
            margin: 10px;
        }
        p {
            margin-bottom:20px;
        }
    }

    @media (max-width:375px) {
        height: 50vh;
        .devicon {
            font-size:3.6rem;
            margin: 5px;
        }
    }
}